#VSCode and Cobalt
/.vscode/
__pycache__/
/.vs/
`
*.cobaltlog
*.error
*.output

#Experiment folders
mctree-*
ytopt-*
ytopt_d*
ytopy-*
base
mctree_dem*
ytopt_dbg
unrollandjam
oned
jlse-logs
transformation-test-codes
timming_experiment
Experiment_1

#Files
*.out
gemm.env
*.log
debug_*.txt
ytopt_bkp.py
ytoptgen_bkp.py
pragma_parameter_replacement.py
gemm_interactive_pyintepreter.py
gemm-run-*.sh
run-ytopt.py
display_results.py
*.sh
ccargs
exeopts
cc.txt
timmer_plopper.py
